packages/node-red-s1seven-api/examples/auth-flow.json
[
  {
    "id": "e2b2aaef3e997b7b",
    "type": "hash certificate",
    "z": "155da1287ae6504d",
    "name": "",
    "apiConfig": "16bd3e4db46db980",
    "algorithm": "sha256",
    "encoding": "hex",
    "x": 290,
    "y": 380,
    "wires": [["6befa51db92df9f8"], ["290656f39a923100"]]
  },
  {
    "id": "1f69af6a87ecfb24",
    "type": "inject",
    "z": "155da1287ae6504d",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{}",
    "payloadType": "json",
    "x": 110,
    "y": 380,
    "wires": [["e2b2aaef3e997b7b"]]
  },
  {
    "id": "6befa51db92df9f8",
    "type": "debug",
    "z": "155da1287ae6504d",
    "name": "debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 380,
    "wires": []
  },
  {
    "id": "290656f39a923100",
    "type": "switch",
    "z": "155da1287ae6504d",
    "name": "",
    "property": "payload.statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "401",
        "vt": "num"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 470,
    "y": 460,
    "wires": [["fd323fdf31455b44"]],
    "outputLabels": ["401"]
  },
  {
    "id": "fd323fdf31455b44",
    "type": "get access token",
    "z": "155da1287ae6504d",
    "name": "",
    "apiConfig": "16bd3e4db46db980",
    "x": 630,
    "y": 280,
    "wires": [["6befa51db92df9f8"], ["6befa51db92df9f8"]]
  },
  {
    "id": "7ff5a6d4faf5af58",
    "type": "catch",
    "z": "155da1287ae6504d",
    "name": "",
    "scope": null,
    "uncaught": false,
    "x": 100,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "68825bef95c36270",
    "type": "inject",
    "z": "155da1287ae6504d",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 280,
    "wires": [["fd323fdf31455b44"]]
  },
  {
    "id": "16bd3e4db46db980",
    "type": "api-config",
    "environment": "staging",
    "companyId": "",
    "name": "Staging",
    "apiVersion": "1"
  }
]